@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        background-position: 25% 50%;
    }
}

:root {
    --cor--primaria: #3170e5;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    color: #f9f9f9;
    animation: rotate 6s infinite alternate linear;
}

.card {
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 20px;
    background: rgba(0 0 0 / 17%);
    backdrop-filter: blur(10px);
}

.card > h3 {
    color: #f9f9f9;
    margin: 0 0 18px;
    font-size: 16px;
}

.card > img {
    width: 21%;
    height: auto;
    padding-bottom: 20px;
}

.form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.form > :is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border: 0;
}

.form > input {
    color: rgb(255 255 255 / 96%);
    background: rgb(255 255 255 / 8%);
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
}

.form > input:focus {
    outline: var(--cor--primaria);
}

.form > input::placeholder {
    color: rgb(255 255 255 / 38%);
}

.form > button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: var(--cor--primaria);
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
}

.form label {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 6px 0 8px;
    color: rgb(255 255 255 / 50%);
}

.form label input { scale: 0; }

@media (width >= 448px) {
    .card {
        margin: 0;
        width: 70%;
        min-width: 400px;
    }
}

@media (width >= 500px) {
    body { padding: 0; }
}

@media (width >= 628px) {
    .card {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 44px;
        width: 50%;
        max-width: 500px;
        min-width: auto;
        display: flex;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
    }
}

